<style type="text/css">
#T_3c0c5 table {
  border-collapse: collapse;
  font-size: 80%;
}
#T_3c0c5 th {
  border: none;
  padding: 10px;
  background-color: #CCE4F1;
  font-size: 80%;
}
#T_3c0c5 td {
  border: none;
  padding: 10px;
  font-size: 80%;
}
#T_3c0c5 .row_heading {
  width: 150px;
}
</style>
<table id="T_3c0c5">
  <thead>
    <tr>
      <th class="blank level0" >&nbsp;</th>
      <th id="T_3c0c5_level0_col0" class="col_heading level0 col0" >Daily PnL</th>
      <th id="T_3c0c5_level0_col1" class="col_heading level0 col1" >PnL since 20220726</th>
      <th id="T_3c0c5_level0_col2" class="col_heading level0 col2" >Sharpe since 20220726</th>
      <th id="T_3c0c5_level0_col3" class="col_heading level0 col3" >Vols (70-day)</th>
      <th id="T_3c0c5_level0_col4" class="col_heading level0 col4" >Corr to index (70-day)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th id="T_3c0c5_level0_row0" class="row_heading level0 row0" >Index raw</th>
      <td id="T_3c0c5_row0_col0" class="data row0 col0" >-88.72 bps</td>
      <td id="T_3c0c5_row0_col1" class="data row0 col1" >12.402%</td>
      <td id="T_3c0c5_row0_col2" class="data row0 col2" >0.92</td>
      <td id="T_3c0c5_row0_col3" class="data row0 col3" >14.77%</td>
      <td id="T_3c0c5_row0_col4" class="data row0 col4" >1.00</td>
    </tr>
    <tr>
      <th id="T_3c0c5_level0_row1" class="row_heading level0 row1" >Index 10% vol</th>
      <td id="T_3c0c5_row1_col0" class="data row1 col0" >-57.83 bps</td>
      <td id="T_3c0c5_row1_col1" class="data row1 col1" >8.179%</td>
      <td id="T_3c0c5_row1_col2" class="data row1 col2" >0.92</td>
      <td id="T_3c0c5_row1_col3" class="data row1 col3" >14.77%</td>
      <td id="T_3c0c5_row1_col4" class="data row1 col4" >1.00</td>
    </tr>
    <tr>
      <th id="T_3c0c5_level0_row2" class="row_heading level0 row2" > </th>
      <td id="T_3c0c5_row2_col0" class="data row2 col0" > </td>
      <td id="T_3c0c5_row2_col1" class="data row2 col1" > </td>
      <td id="T_3c0c5_row2_col2" class="data row2 col2" > </td>
      <td id="T_3c0c5_row2_col3" class="data row2 col3" > </td>
      <td id="T_3c0c5_row2_col4" class="data row2 col4" > </td>
    </tr>
    <tr>
      <th id="T_3c0c5_level0_row3" class="row_heading level0 row3" > </th>
      <td id="T_3c0c5_row3_col0" class="data row3 col0" > </td>
      <td id="T_3c0c5_row3_col1" class="data row3 col1" > </td>
      <td id="T_3c0c5_row3_col2" class="data row3 col2" > </td>
      <td id="T_3c0c5_row3_col3" class="data row3 col3" > </td>
      <td id="T_3c0c5_row3_col4" class="data row3 col4" > </td>
    </tr>
    <tr>
      <th id="T_3c0c5_level0_row4" class="row_heading level0 row4" ><b><u>Outright 10% vol:</u></b></th>
      <td id="T_3c0c5_row4_col0" class="data row4 col0" > </td>
      <td id="T_3c0c5_row4_col1" class="data row4 col1" > </td>
      <td id="T_3c0c5_row4_col2" class="data row4 col2" > </td>
      <td id="T_3c0c5_row4_col3" class="data row4 col3" > </td>
      <td id="T_3c0c5_row4_col4" class="data row4 col4" > </td>
    </tr>
    <tr>
      <th id="T_3c0c5_level0_row5" class="row_heading level0 row5" >N100 strategy</th>
      <td id="T_3c0c5_row5_col0" class="data row5 col0" >-135.24 bps</td>
      <td id="T_3c0c5_row5_col1" class="data row5 col1" >0.423%</td>
      <td id="T_3c0c5_row5_col2" class="data row5 col2" >0.05</td>
      <td id="T_3c0c5_row5_col3" class="data row5 col3" >3.48%</td>
      <td id="T_3c0c5_row5_col4" class="data row5 col4" >0.52</td>
    </tr>
    <tr>
      <th id="T_3c0c5_level0_row6" class="row_heading level0 row6" > </th>
      <td id="T_3c0c5_row6_col0" class="data row6 col0" > </td>
      <td id="T_3c0c5_row6_col1" class="data row6 col1" > </td>
      <td id="T_3c0c5_row6_col2" class="data row6 col2" > </td>
      <td id="T_3c0c5_row6_col3" class="data row6 col3" > </td>
      <td id="T_3c0c5_row6_col4" class="data row6 col4" > </td>
    </tr>
    <tr>
      <th id="T_3c0c5_level0_row7" class="row_heading level0 row7" > </th>
      <td id="T_3c0c5_row7_col0" class="data row7 col0" > </td>
      <td id="T_3c0c5_row7_col1" class="data row7 col1" > </td>
      <td id="T_3c0c5_row7_col2" class="data row7 col2" > </td>
      <td id="T_3c0c5_row7_col3" class="data row7 col3" > </td>
      <td id="T_3c0c5_row7_col4" class="data row7 col4" > </td>
    </tr>
    <tr>
      <th id="T_3c0c5_level0_row8" class="row_heading level0 row8" ><b><u>DN (index) 10% vol:</u></b></th>
      <td id="T_3c0c5_row8_col0" class="data row8 col0" > </td>
      <td id="T_3c0c5_row8_col1" class="data row8 col1" > </td>
      <td id="T_3c0c5_row8_col2" class="data row8 col2" > </td>
      <td id="T_3c0c5_row8_col3" class="data row8 col3" > </td>
      <td id="T_3c0c5_row8_col4" class="data row8 col4" > </td>
    </tr>
    <tr>
      <th id="T_3c0c5_level0_row9" class="row_heading level0 row9" >N100 strategy DN (index)</th>
      <td id="T_3c0c5_row9_col0" class="data row9 col0" >-24.50 bps</td>
      <td id="T_3c0c5_row9_col1" class="data row9 col1" >-3.028%</td>
      <td id="T_3c0c5_row9_col2" class="data row9 col2" >-0.33</td>
      <td id="T_3c0c5_row9_col3" class="data row9 col3" >2.14%</td>
      <td id="T_3c0c5_row9_col4" class="data row9 col4" >-0.37</td>
    </tr>
    <tr>
      <th id="T_3c0c5_level0_row10" class="row_heading level0 row10" > </th>
      <td id="T_3c0c5_row10_col0" class="data row10 col0" > </td>
      <td id="T_3c0c5_row10_col1" class="data row10 col1" > </td>
      <td id="T_3c0c5_row10_col2" class="data row10 col2" > </td>
      <td id="T_3c0c5_row10_col3" class="data row10 col3" > </td>
      <td id="T_3c0c5_row10_col4" class="data row10 col4" > </td>
    </tr>
  </tbody>
</table>
